:root { 
--black_900_7e:#0d0d0f7e; 
--black_900_b0:#0d0d0fb0; 
--white_A700_b0:#ffffffb0; 
--gray_500:#909193; 
--gray_800:#414141; 
--blue_gray_900_0a:#2d36430a; 
--yellow_50:#fff9e6; 
--amber_100:#ffebb0; 
--amber_200:#ffe28a; 
--amber_300:#ffd454; 
--green_600:#43a048; 
--gray_50:#f9fafb; 
--amber_A700:#e8ae00; 
--black_900:#0d0d0f; 
--gray_500_01:#a6a7a8; 
--blue_gray_900_0c:#3232470c; 
--amber_A700_6c:#e8ae006c; 
--cyan_50:#ebfffd; 
--cyan_800:#098895; 
--cyan_900:#135966; 
--cyan_600:#01b8c6; 
--white_A700:#ffffff; 
}